// Navigation code here

nav {


    a {
        text-decoration: none;
        color: @main-font-color;
    }
    .nav_mixin();  
   
    h1 {
        .h1_mixin();
    }

    .nav_items {
        padding: 10px;

        // parametric mix in
        .custom_display(space-between, center, row);        

        .unique_nav {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    

    img {
        border-radius: 5px;
    }

    @media @mobile {
        align-items: center;
        width: 500px;

        img {
            width: 500px;
        }
      }
}